<div id="leftNav">
	<h1>Physician<br />Application Step 1</h1>
	<ul class="menu">
		<li class="active"><a href="identity">Personal Information</a></li>
		<li><a href="education">Education</a></li>
		<li><a href="internship">Internship</a></li>
		<li><a href="residency">Residency</a></li>
		<li class="check"><a href="affiliations">Affiliations</a></li>
		<li class="clock"><a href="certifications">Certifications</a></li>
		<li><a href="licensure">Licensure</a></li>
		<li><a href="disciplinary">Disciplinary Actions</a></li>
		<li class="check"><a href="references">References</a></li>
		<li><a href="upload">Uploaded CV <span class="light">(optional)</span></a></li>
		<li><a href="release">Release & Authorization</a></li>
		<li class="hr"></li>
		<li><a href="submission">SUBMIT</a></li>
	</ul>
</div>