
<div id="standalone_Welcome"></div>
<hr class="dots" />
<!--<div id="userpage">
<h2>Please <a href="./user/logout">LOGOUT</a> or go back to the <a href="./home/">HOME PAGE</a>.</h2>
</div>-->
<div id="steps">
    <div id="my-application">
    	<div id="img-application"><img src="./sites/all/themes/jobapp/img/circle-icon.document.png" /></div>
      <div id="my-application-txt"><h1>Start My Application</h1>
      <p>Are you ready to get started?<br> 
      	<a href="#"> Click here </a>to begin step 1 of our<br>
      	Application process.</p>
      	</div> 
      <div id="my-application-btn"><a href="./preapp/identity">My Application</a></div>
    </div>
    
		<div id="my-docs">
			<div id="img-docs"><img src="./sites/all/themes/jobapp/img/circle-icon.medical-breifcase.png" /></div>
      <div id="my-docs-txt"><h1>Why Apply?</h1>
      <p>Not quite sure if you are ready to start<br>
      	the process? Here's why it is well<br>
      	worth your time... </p> 
      </div>
      <div id="my-docs-btn"><a href="./whyapply">Learn More</a></div>
    </div>
    
    <div id="my-email">
			<div id="img-my-email"><img src="./sites/all/themes/jobapp/img/circle-icon.thought-bubble.png" /></div>
      <div id="my-email-txt"><h1>Ask a Recruiter</h1>
      <p>Need help? if you would like to ask a specific<br>
      	question or if you need clarification on any<br>
      	part of the process, please click on the email<br>
      	button below and a recruiter will contact you<br>
      	within one business day.
      </p>
      </div> 
      <div id="my-email-btn"><a href="mailto:facts@vistastaff.com">Email</a></div>
    </div>
    <hr>
  
  </div><!--end of the log div is here-->